:root {
  --primary-text-color: #000000;
  --primary-white-color: #ffffff;
  --ascent-text-color: #4a56e2;
  --ascent-text-color2: #6e78e8;

  --background-color: #e7eaf2;

  --primary-grey-color: #bdbdbd;
  --secondary-grey-dark: #a6a6a6;
  --secondary-grey-light: #e0e0e0;

  --pink: #ff6596;
  --greenblue: #24cca7;

  --primary-font-family: 'Circe', sans-serif;
  --secondary-font-family: 'Poppins', sans-serif;

  --transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
